*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-right{
   position: relative;
   top: 0;
   min-height: 100vh;
   
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
   
   width: 80%;
   z-index: 1;

}
.upper{
   width: 100%;
   margin: 0;
   position:fixed;
   top:0;
    left:0;
   background: linear-gradient(180deg, #20589A 0%, #BBD5E6 100%);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
   

}
.fa-bars, .fa-times{
   display: none;
   color: #fff;
}


 .left-header{
  margin-left: 10px;
   
} 
.right-header{
   
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-weight: 700;
   cursor: pointer;
   margin-right: 10px;
   
}
.right-header .img-border{
   margin: 0 10px;
   padding: 0px;
}
.right-header p{
   margin-right: 10px;
}


.img-border{
   height: 40px;
   width: 43px;
   border-radius: 100%;
   border: 2px solid grey;
}

.img-circle {
   border-radius: 100%;
   
}
.button{
   min-height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;



}
.sub-header{
   width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;


    
}
.sub-header p{
   font-size: 40px;
   font-weight: 600;
}
.inner-content{
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-style: solid;
   
}
.inner-content li, a{
   list-style-type: none;
   text-decoration: none;
   margin-right: 3px;
   font-weight: 700;
   
}
.row{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
  
}
.cards{

   flex: 1 1 20rem ;
   display: flex;
   margin: 10px 15px;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background: #fff;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
   padding: 10px 20px;
   border-radius: 15px;
   max-width: 20%;
   height: 130px;
   transition: all 10s ease;
}
.cards h4, p{
    
    opacity: 0.8;
   
}
.inner-box{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 240px;

}
.right-inner{
   display: flex;
   flex-direction: column;
   
   justify-content: center;
   

}


@media screen and (max-width: 800px){
   
}


@media screen and (max-width: 600px) {
   .side-right{
       
       width: 100%;
   }
   .upper{
      width: 100%;
   
   }
   .nasfat-user{
      display: none;
   }
   .right-header{
      display: none;
   }
   .fa-bars, .fa-times{
      display: block;
      cursor: pointer;
   }
}