@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main-container {
  min-height: 100%;
  transition: all 0.4s ease 0s;
  margin-top: 150px;
  width: 82%;
  padding: 2rem;
  overflow: hidden;
}

.header h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  font-size: 25px;
  align-items: flex-end;
  letter-spacing: 1px;
  color: #20509a;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.header {
  margin-bottom: 1rem;
}

.fas {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    justify-content: center;
    /* -ms-touch-action: manipulation; */
    /* touch-action: manipulation; */
    cursor: pointer;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
   
}

.fa-plus {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 6px 12px;
}

.fa-sync-alt {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
}

.fa-trash-alt {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
}

.main_table {
    border-radius: 10px;
    background-color: transparent;
    border-spacing:0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
    color: #20589A;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

}

.table_header {
    background: #1A7EBD;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    
}

th {
    text-align: left;
}

tbody>tr {
    border-bottom: 1px solid #c4c4c4;


}

tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

td {
    padding: 8px;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.main_table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;

}


